@page "/"

<!--Since Weather forcast service is in other folder Data-->
@using Blazor.Server.Data

@inject IJSRuntime JSRuntime

<!--Dependency Injection which is already started with startup.cs-->
@inject WeatherForecastService WeatherService

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="TriggerAlert">Trigger Alert</button>

@code
{
    public string Name { get; set; } = "World";
    public async Task TriggerAlert()
    {
        var forecast = await WeatherService.GetForecastAsync(DateTime.Now);
        await JSRuntime.InvokeVoidAsync("myApp.triggerAlert",forecast[0]);
    }
}
